* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-size: 1rem;
}

.info {
  margin-left: 1rem;
  margin-right: 1rem;
  background-image: url("/images/bg-pattern-top-desktop.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.info__title {
  color: #502050;
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.info__info {
  color: #502050;
  text-align: center;
  margin-bottom: 3rem;
}

.info__ranking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
}

.info__rated {
  background-color: #f7f2f7;
  color: #502050;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  height: 4rem;
}

.comments {
  background-color: #502050;
  border-radius: .5rem;
  margin: .5rem;
  padding: 1rem;
}

.comments__img {
  border-radius: 100%;
  width: 25%;
  margin: .5rem;
}

.comments__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comments__name {
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.comments__position {
  color: #ee68a4;
}

.comments__comment {
  color: white;
}

.comments-container {
  background-image: url("/images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media screen and (min-width: 992px) {
  .container {
    margin-top: 2rem;
    -webkit-box-shadow: 3px 2px .5rem black;
            box-shadow: 3px 2px .5rem black;
    border-radius: .5rem;
    padding: 3rem;
  }
  .info {
    background-image: url("/images/bg-pattern-top-mobile.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  __info {
    text-align: left;
  }
  __ranking {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  __rated {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
    height: 3rem;
    padding: .5rem;
  }
  __rated__rev {
    margin-bottom: 1rem;
  }
  __rated__guru {
    margin-left: 4rem;
    margin-bottom: 1rem;
  }
  __rated__best {
    margin-left: 8rem;
    margin-bottom: 1rem;
  }
  .comments-container {
    background-image: url("/images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .comments {
    margin-bottom: 4rem;
  }
  .irene {
    padding-top: 2rem;
  }
  .anne {
    padding-top: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */